<div id="container">
    <div class="sideMenuWrap">
        <h3>그린씽 안내</h3>
        <ul>
            <li><a href="" class="sideMenuCK">그린씽?</a></li>
            <li><a href="">이용안내</a></li>
            <li><a href="">이용방법</a></li>
            <li><a href="">의무&책임사항</a></li>
        </ul>
    </div>
    <div class="contentWrap">
        <h2 class="contentMainTitle">그린씽?</h2>
        <div class="miniMap">
            <span class="miniMapHome"><a href=""></a></span>
            <span class="miniMapblank">></span>
            <span class="miniMapTop"><a href="">그린씽 안내</a></span>
            <span class="miniMapblank">></span>
            <span class="miniMapNow">그린씽?</span>
        </div>
        <article class="contentBox">
            <h3 class="contentSubTitle">그린씽 안내</h3>
            <p class="contentText">누구나, 언제나, 어디서나 편리하고 손쉽게 이용할 수 있도록 유비쿼터스
                 기술이 적용된 거창군민 자전거 무인대여시스템의 새로운 명칭입니다.<br />
                그린씽은 자연친화적이며 푸른 거창을 달리자는 뜻을 담고 있으며, 
                그린씽 터미널에 보관되어 있는 자전거를 대여하여 이용한 후 터미널 
                어느곳에나 반납할 수 있습니다.</p>
        </article>
        <article class="contentBox">
            <h3 class="contentSubTitle">자전거 스테이션 안내</h3>
            <div class="stationBox">
                <div class="stationImg stImg01"></div>
                <div class="stationText">
                    <span>그린씽 자전거</span>
                    <p class="contentText">그린씽 자전거는 여성 및 노약자 누구나 편하게 승,하차 할 수 있는 자전거로 거창군
                         전역 어디든지 쉽게 편리하게 주행할 수 있습니다.<br/>
                        무인대여로 이용이 간편하고 이용하시는 동안 주행거리 및 속도, 이용시간을 확인할 
                        수 있습니다.</p>
                </div>
            </div>
            <div class="stationBox">
                <div class="stationImg stImg02"></div>
                <div class="stationText">
                    <span>그린씽 키오스크스</span>
                    <p class="contentText">그린씽 터미널은 거창군 총 9곳에 설치되어 운영하고 있으며, 
                        자전거의
                        대여/반납이 무인으로 이루어지는 공간으로 키오스크를 통하여 
                        주변 터미널
                        정보를 확인할 수 있습니다.
                        <br/>
                        무인대여로 이용이 간편하고 이용하시는 동안 주행거리 및 속도, 
                        이용시간을 확인할 
                        수 있습니다.</p>
                </div>
            </div>
            <div class="stationBox">
                <div class="stationImg stImg03"></div>
                <div class="stationText">
                    <span>그린씽 보관대</span>
                    <p class="contentText">터미널에 설치된 자전거 보관대는 자전거의 잠금 및 도난 방지를 
                        위한 자전거 잠금장치가 부착되어 있습니다.<br/>
                        보관대는 회원카드 및 자전거 식별장치가 부착되어 있어 쉽고
                         빠르게 자전거를 대여/반납 할 수 있습니다.</p>
                </div>
            </div>
        </article>
    </div>
</div>