<div class="ftTop w1240">
  <ul>
      <li><a href="">이용약관</a>·</li>
      <li><a href="">개인정보보호정책</a>·</li>
      <li><a href="">군민의견수렴</a>·</li>
      <li><a href="">사이트맵</a></li>
  </ul>
</div>
<hr />
<div class="ftBot w1240">
  <ul>
      <li>(670-807) 경상남도 거창군 거창읍 중앙로 103(상림리 64-1)</li>
      <li>Tel.055)940-3596 Fax.055)940-3679</li>
      <li>본 사이트의 문의사항은 고객센터 군민의견수렴 게시판을 이용해주시기 바랍니다.</li>
  </ul>
  <p>Copyrightⓒ 2012 GEOCHANG-GUN. All rights reserved.</p>
</div>