<div id="container">
    <div class="sideMenuWrap">
        <h3>그린씽 안내</h3>
        <ul>
            <li><a href="/about">그린씽?</a></li>
            <li><a href="/guide1">이용안내</a></li>
            <li><a href="/guide2">이용방법</a></li>
            <li><a href="" class="sideMenuCK">의무&책임사항</a></li>
        </ul>
    </div>
    <div class="contentWrap">
        <h2 class="contentMainTitle">의무&책임사항</h2>
        <div class="miniMap">
            <span class="miniMapHome"><a href="/"></a></span>
            <span class="miniMapblank">></span>
            <span class="miniMapTop"><a href="/about">그린씽 안내</a></span>
            <span class="miniMapblank">></span>
            <span class="miniMapNow">의무&책임사항</span>
        </div>
        <article class="contentBox">
            <h3 class="contentSubTitle">손실 및 위약금</h3>
            <div class="dutyBox">
                <div>
                    <p>
                    <span class="dytyBoxNum">1.</span>
                     군민 자전거 시설물의 고의적인 훼손 또는 공영자전거 
                     분실 및 절도 시에는 관련 규정에 따라 정한 요금을 부과합니다.
                    </p>
                </div>
                <div>  
                    <p>
                        <span class="dytyBoxNum">2.</span>
                        자전거 이용 중 위법, 부당한 행위로 발생한 
                        손실 및 비용은 이용자가 부담해야 합니다.
                    </p>
                </div>
            </div>
        </article>
        <article class="contentBox">
            <h3 class="contentSubTitle">자전거 주행 시 주의사항</h3>
            <div class="dutyBox">
                <div>
                    <p>
                        <span class="dytyBoxNum">1.</span>
                        군민 자전거는 일반 생활용 자전거로써 경주, 산악등반, 
                        자전거 묘기 등의 특수 목적을 위해 사용할 수 없습니다.
                    </p>
                </div>
                <div>
                    <p>
                        <span class="dytyBoxNum">2.</span>
                        군민 자전거 터미널이 아닌 곳에 정차, 주차 중일 떄에는 필히 
                        자전거에 부착된 시건 장치를 이용하여 도난에 주의해야 합니다.
                    </p>
                </div>
                <div>
                    <p>
                        <span class="dytyBoxNum">3.</span>
                        짐받이 바구니에는 과다한 중량을 싣지 말아야 합니다.
                    </p>
                </div>
                <div>
                    <p>
                        <span class="dytyBoxNum">4.</span>
                        자전거를 대여하기 전 해당 자전거의 구동장치 및 안전장치의 
                        정상작동을 확인해야 합니다.</p>
                </div>
            </div>
        </article>
        <article class="contentBox">
            <h3 class="contentSubTitle">자전거 분실신고 및 고장신고 방법</h3>
            <div class="dutyBox">
                <div>
                    <p class="cycleLost">
                        그린씽을 이용 중 자전거 분실했을 경우, 즉시 고객지원센터로 
                        연락 주셔서 자전거를 분실한 시간과 분실한 장소를 알려주세요.
                    </p>
                </div>
                <div>
                    <p class="cycleFix">
                        그린씽을 이용 중 자전거가 고장 났을 경우엔, 가까운 터미널에 
                        자전거를 거치시키신 후 고객지원센터로
                        연락을 해서 고장난 자전거를 알려주세요.
                    </p>
                </div>
            </div>
            <p class="dutyNotice">※ 만약, 부득이한 사정으로 인해 가까운 터미널로 이동 할 수 없을 
                경우에는 고객지원센터로 연락을 주시면 담당 운영요원이
                자전거를 수거해 옵니다.</p>
        </article>
    </div>
</div>