<div id="container">
    <div class="sideMenuWrap">
        <h3>그린씽 안내</h3>
        <ul>
            <li><a href="/about" >그린씽?</a></li>
            <li><a href="/guide1">이용안내</a></li>
            <li><a href="" class="sideMenuCK">이용방법</a></li>
            <li><a href="/duty">의무&책임사항</a></li>
        </ul>
    </div>
    <div class="contentWrap">
        <h2 class="contentMainTitle">이용방법</h2>
        <div class="miniMap">
            <span class="miniMapHome"><a href="/"></a></span>
            <span class="miniMapblank">></span>
            <span class="miniMapTop"><a href="/about">그린씽 안내</a></span>
            <span class="miniMapblank">></span>
            <span class="miniMapNow">이용방법</span>
        </div>
        <article class="contentBox">
            <h3 class="contentSubTitle">회원가입 및 교통카드 등록</h3>
            <div class="useHowBox">
                <h4>- 홈페이지가입</h4>
                <p class="useHowtip">※ 본인 확인 및 효율적 운영을 위하여 휴대폰 소지자만 가입 가능합니다.</p>
                <div>
                    <article>
                        <div class="useHowP1-1"><span>1</span></div>
                        <p>그린씽 홈페이지에서 회원가입 신청</p>
                    </article>
                    <article>
                        <div class="useHowP1-2"><span>2</span></div>
                        <p>가입정보 선택 및 가입비 결제 (휴대폰 또는 신용카드)</p>
                    </article>
                    <article>
                        <div class="useHowP1-3"><span>3</span></div>
                        <p>소지한 회원카드를 가까운 터미널에서 회원카드로 등록</p>
                    </article>
                    <article>
                        <div class="useHowP1-4"><span>4</span></div>
                        <p>그린씽 자전거 이용</p>
                    </article>
                </div>
            </div>
        </article>
        <article class="contentBox">
            <h3 class="contentSubTitle">회원</h3>
            <div class="useHowBox">
                <h4>- 등록한 회원카드가 있는 경우</h4>
                <div>
                    <article>
                        <div class="useHowP2-1"><span>1</span></div>
                        <p>대여할 자전거 거치대에 회원카드 인식</p>
                    </article>
                    <article>
                        <div class="useHowP2-2"><span>2</span></div>
                        <p>거치대와 자전거가 분리되어 이용가능</p>
                    </article>
                    <article>
                        <div class="useHowP2-3"><span>3</span></div>
                        <p>거치대에 자전거를 거치하면 자동반납</p>
                    </article>
                </div>
            </div>
            <div class="useHowBox">
                <h4>- 등록한 회원카드가 없는 경우</h4>
                <div>
                    <article>
                        <div class="useHowP3-1"><span>1</span></div>
                        <p>키오스크에서 회원으로 대여하기 선택</p>
                    </article>
                    <article>
                        <div class="useHowP3-2"><span>2</span></div>
                        <p>ID/PW 또는 휴대폰을 이용한 사용자 확인</p>
                    </article>
                    <article>
                        <div class="useHowP3-3"><span>3</span></div>
                        <p>대여할 자전거 선택</p>
                    </article>
                    <article>
                        <div class="useHowP3-4"><span>4</span></div>
                        <p>대여할 자전거 거치대의 대여버튼 클릭</p>
                    </article>
                    <article>
                        <div class="useHowP3-5"><span>5</span></div>
                        <p>거치대와 자전거가 분리되어 이용 가능</p>
                    </article>
                    <article>
                        <div class="useHowP3-6"><span>6</span></div>
                        <p>거치대에 자전거를 거치하면 자동반납</p>
                    </article>
                </div>
            </div>
        </article>
        <article class="contentBox">
            <h3 class="contentSubTitle">비회원</h3>
            <div class="useHowBox">
                <h4>- 등록한 회원카드가 없는 경우</h4>
                <div>
                    <article>
                        <div class="useHowP4-1"><span>1</span></div>
                        <p>자전거 대여 버튼 선택</p>
                    </article>
                    <article>
                        <div class="useHowP4-2"><span>2</span></div>
                        <p>1일 이용권 가입</p>
                    </article>
                    <article>
                        <div class="useHowP4-3"><span>3</span></div>
                        <p>이용내역 확인 및 가입비 결제(휴대폰)</p>
                    </article>
                    <article>
                        <div class="useHowP4-4"><span>4</span></div>
                        <p>1일 이용권 번호 확인 (※결제한 휴대폰으로 8자리 번호 전송-반납
                            후 24시간 이내 재사용 가능)</p>
                    </article>
                    <article>
                        <div class="useHowP4-5"><span>5</span></div>
                        <p>대여할 자전거 선택</p>
                    </article>
                    <article>
                        <div class="useHowP4-6"><span>6</span></div>
                        <p>대여할 자전거 거치대의 대여버튼 클릭</p>
                    </article>
                    <article>
                        <div class="useHowP4-7"><span>7</span></div>
                        <p>거치대와 자전거가 분리되어 이용가능 (※자전거 분리가
                            잘 안될 경우 살짝 들어 뒤로 빼면 됨)</p>
                    </article>
                    <article>
                        <div class="useHowP4-8"><span>8</span></div>
                        <p>거치대에 자전거를 거치하면 자동 반납</p>
                    </article>
                </div>
            </div>
        </article>
        
    </div>
</div>