<div class="headTop">
    <div class="h_t_wrap w1240">
        <ul class="h_t_lang">
            <li><a href="">ENGLISH</a></li>
            <li><a href="">中國語</a></li>
            <li><a href="">日本語</a></li>
            <li><a href="">한국어</a></li>
        </ul>
        <select class="mob_h_t_lang">
            <option value="kor">kor</option>
            <option value="ENGLISH">ENGLISH</option>
            <option value="中國語">中國語</option>
            <option value="日本語">日本語</option>
        </select>
        <ul class="h_t_user">
            <li><a href="">로그인</a></li>
            <li><a href="">회원가입</a></li>
            <li><a href="">거창군청</a></li>
        </ul>
    </div>
</div>
<div class="hdeadMid">
    <div class="h_m_wrap w1240">
        <a href=""></a>
        <ul class="h_m_menu">
            <li><a href="" class="h_m_menuBtn">My그린씽</a>
                <ul class="h_m_slideMenu">
                    <li><a href="/">사용이력 조회</a></li>
                    <li><a href="/">미납내역 조회</a></li>
                    <li><a href="/">개인정보</a></li>
                </ul>
            </li>
            <li><a href="" class="h_m_menuBtn">그린씽 안내</a>
                <ul class="h_m_slideMenu">
                    <li><a href="">그린씽?</a></li>
                    <li><a href="">이용안내</a></li>
                    <li><a href="">이용방법</a></li>
                    <li><a href="">의무&책임사항</a></li>
                </ul>
            </li>
            <li><a href="" class="h_m_menuBtn">대여소 안내</a>
                <ul class="h_m_slideMenu">
                    <li><a href="">실시간 현황</a></li>
                    <li><a href="">자전거길 추천</a></li>
                </ul>
            </li>
            <li><a href="" class="h_m_menuBtn">자전거 정보</a>
                <ul class="h_m_slideMenu">
                    <li><a href="">자전거 상식</a></li>
                    <li><a href="">자전거 안전</a></li>
                </ul>
            </li>
            <li><a href="" class="h_m_menuBtn">고객센터 / 보험 안내</a>
                <ul class="h_m_slideMenu">
                    <li><a href="">공지사항</a></li>
                    <li><a href="">QnA</a></li>
                    <li><a href="">갤러리</a></li>
                    <li><a href="">보험안내</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="mobileMain">
    <div class="mMainHeader">
        <select class="mMainHeaderLang">
            <option value="kor">kor</option>
            <option value="ENGLISH">eng</option>
            <option value="中國語">中國語</option>
            <option value="日本語">日本語</option>
        </select>
        <div class="mMainHeaderLogo"></div>
        <div class="mMainHeaderMenu"></div>
    </div>
</div>
<div class="mSideMenu">
    <h3><a href="">로그인</a></h3>
    <ul>
        <li><span class="mSideMenuSubT">My그린씽</span>
            <ul class="mSideMenuSub">
                <li><a href="/">사용이력 조회</a></li>
                <li><a href="/">미납내역 조회</a></li>
                <li><a href="/">개인정보</a></li>
            </ul>
        </li>
        <li><span class="mSideMenuSubT">그린씽 안내</span>
            <ul class="mSideMenuSub">
                <li><a href="">그린씽?</a></li>
                <li><a href="">이용안내</a></li>
                <li><a href="">이용방법</a></li>
                <li><a href="">의무&책임사항</a></li>
            </ul>
        </li>
        <li><span class="mSideMenuSubT">대여소 안내</span>
            <ul class="mSideMenuSub">
                <li><a href="">실시간 현황</a></li>
                <li><a href="">자전거길 추천</a></li>
            </ul>
        </li>
        <li><span class="mSideMenuSubT">자전거 정보</span>
            <ul class="mSideMenuSub">
                <li><a href="">자전거 상식</a></li>
                <li><a href="">자전거 안전</a></li>
            </ul>
        </li>
        <li><span class="mSideMenuSubT">고객센터 / 보험 안내</span>
            <ul class="mSideMenuSub">
                <li><a href="">공지사항</a></li>
                <li><a href="">QnA</a></li>
                <li><a href="">갤러리</a></li>
                <li><a href="">보험안내</a></li>
            </ul>
        </li>
    </ul> 
</div>

