<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" user-scalable="yes">
    <link rel="stylesheet"  type="text/css" href="/css/basic.css">
    <link rel="stylesheet"  type="text/css" href="/css/common.css">
    <link rel="stylesheet"  type="text/css" href="/css/sideNtitle.css">
    <link rel="stylesheet"  type="text/css" href="/css/main.css">
    <link rel="stylesheet"  type="text/css" href="/css/about.css">
    <link rel="stylesheet"  type="text/css" href="/css/useGuide.css">




    <title>그린씽</title>
</head>

<body>

  <header>
    <%- include ("./header.ejs") %>
  </header>


    <%- body %>


  <footer>
  <%- include ("./footer.ejs") %>
  </footer>



</body>
<!--모바일 사이즈 지도메인 api-->
<script type="text/javascript" src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=e889fc1c305ac7a589982468b18591e8"></script>
<script type="text/javascript" src="../js/main.js" ></script>

</html>