<main>
    <section class="intro">
        <div class="itrWrap w1240">
            <h2 class="itr_title">
                <p>누구나, 언제나, 어디서나</p>
                편리하게 거창군민의 ‘그린씽’
            </h2>
            <div class="itr_menu">
                <ul>
                    <li><a href="" class="itr_m_lent">대여방법</a></li>
                    <li><a href="" class="itr_m_return">반납방법</a></li>
                    <li><a href="" class="itr_m_point">대여소현황</a></li>
                </ul>
            </div>
        </div>
    </section><!--intro-->
    <section class="gall">
        <div class="w1240">
            <h2 class="wtitle wave">
                <p>그린씽과 함께 탄소 감소로 건강한 거창을 만들어 주세요</p>
                다함께 만드는 <span>건강한 거창</span>
            </h2>
            <div class="gl_box">
                <article class="bl_b_1">
                    <div class="b1_1"></div>
                    <div class="b1_2">
                        <h4>건강과 함께하는 자전거</h4>
                        <p>생활 속 자전거 이용으로 시민 건강 증진</p>
                        <h4>자연과 함께하는 자전거</h4>
                        <p>자전거를 교통수단으로 이용 CO2 감소 실현</p>
                        <h4>녹색성장도시</h4>
                        <p>국가 비전 “저탄소 녹색성장”에 기여</p>
                    </div>
                </article>
                <article class="bl_b_2">
                    <div class="b2_1">
                        <div class="b2_1_1"></div>
                        <div class="b2_1_2">
                            <span class="b2_1_2_timg"></span>
                            <h4>자전거와 함께하는<br/>
                                건강한 거창</h4>
                            <p>거창 곳곳에 배치된 그린씽과 함께<br/>
                                편리하게 이동과<br/>
                                건강한 자연을 만들어 갑니다.</p>
                            <span class="b2_1_2_bimg"></span>
                        </div>
                    </div>
                    <div class="b2_2"></div>
                </article>
            </div>
        </div>
    </section><!--gall-->
    <section class="info">
        <div class="w1240">
            <h2 class="wtitle">
                <p>대여소의 위치와 이용방법</p>
                그린씽 <span>대여소 안내</span>
            </h2>
        </div>
        <div class="ifWrap">
            <div class="w1240">
                <ul>
                    <li>
                        <span class="if_01"></span>
                        <h4>터미널에서는,</h4>
                        <p>
                            <span>터미널 현황에서 대여</span>
                            <span>가능한 자전거 댓수,</span>
                        </p> 
                        <p>
                            <span>반납가능한 보관대</span>
                            <span>수량 정보를 볼수 있습니다.</span>
                        </p> 
                    </li>
                    <li>
                        <span class="if_02"></span>
                        <h4>대여소에는,</h4>
                        <p>
                            <span>현재 총 16개의 무인</span>
                            <span>대여소와 대여 가능한</span>
                        </p> 
                        <p>
                            <span>그린씽 107대가</span>
                            <span>운영중에 있습니다.</span>
                        </p> 
                    </li>
                    <li>
                        <span class="if_03"></span>
                        <h4>대여소 위치는,</h4>
                        <p>
                            <span>대여소는 접근이</span>
                            <span>편리한 주변 생활시설</span>
                        </p> 
                        <p>
                            <span>및 통행장소를 중심으로</span>
                            <span>운영하고 있습니다.</span>
                        </p> 
                    </li>
                    <li>
                        <span class="if_04"></span>
                        <h4>이용방법은,</h4>
                        <p>
                            <span>대여소가 설치된 곳이면</span>
                            <span>어디에서나 자전거를</span>
                        </p> 
                        <p>
                            <span>대여하고 반납할 수</span>
                            <span>있습니다.</span>
                        </p> 
                    </li>
                </ul>
            </div>
        </div>
    </section><!--info-->
    <section class="notice">
        <div class="noticeWrap w1240">
            <div class="board">
                <h3>공지사항<span><a href="">more +</a></span></h3>
                <ul>
                    <li>
                        <a href="">거창군민 자전거 보험 안내
                        <span>2022-05-22</span></a>
                    </li>
                    <li>
                        <a href="">거창군민자전거보험 안내
                        <span>2022-05-18</span></a>
                    </li>
                    <li>
                        <a href="">거창군민 자전거보험 신청서 양식
                        <span>2022-05-02</span></a>
                    </li>
                    <li>
                        <a href="">자전거와 함께하는 사진 콘테스트
                        <span>2022-04-12</span></a>
                    </li>
                    <li>
                        <a href="">2014자전거교실 안내
                        <span>2022-03-24</span></a>
                    </li>
                </ul>
            </div>
            <div class="link">
                <div class="qna">
                    <a href=""><h3>고객센터</h3></a>
                </div>
                <div class="nanum">
                    <a href=""><h3>자전거 행복나눔</h3></a>
                </div>
            </div>
        </div>
    </section><!--notice-->

</main>
<div id="mapMain">
    <div class="mMainSearch">
        <div class="mMSlist">
            <select class="mMainSearchPosition">
                <option value="상림리">상림리</option>
                <option value="중앙리">중앙리</option>
                <option value="김천리">김천리</option>
                <option value="대동리">대동리</option>
                <option value="대평리">대평리</option>
            </select>
        </div>
        <div class="mMStext">
            <input type="text" class="addr" placeholder="지역검색">
        </div>
    </div>
    <div id="map"></div>
    <div class="mBtn">
        <article class="mBtnCall"></article>
        <article class="mBtnQna"></article>
        <article class="mBtnUser"></article>
        <article class="mBtnReplace"></article>
        <article class="mBtnPosition"></article>
    </div>
</div>
