<div id="container">
    <div class="sideMenuWrap">
        <h3>그린씽 안내</h3>
        <ul>
            <li><a href="" >그린씽?</a></li>
            <li><a href="" class="sideMenuCK">이용안내</a></li>
            <li><a href="">이용방법</a></li>
            <li><a href="">의무&책임사항</a></li>
        </ul>
    </div>
    <div class="contentWrap">
        <h2 class="contentMainTitle">이용안내</h2>
        <div class="miniMap">
            <span class="miniMapHome"><a href=""></a></span>
            <span class="miniMapblank">></span>
            <span class="miniMapTop"><a href="">그린씽 안내</a></span>
            <span class="miniMapblank">></span>
            <span class="miniMapNow">이용안내</span>
        </div>
        <article class="contentBox">
            <h3 class="contentSubTitle">자전거 이용안내</h3>
            <div class="useTableBox">
                <table>
                    <colgroup>
                        <col width = '15%'>
                        <col width = '*'>
                    </colgroup>
                    <tr>
                        <td class="guideTbTitle">이용대상</td>
                        <td class="guideTbline">만15세 이상의 남녀노소 단, 만 20세 미만은 부모님(법정대리인)의 동의가 필요합니다.</td>
                    </tr>
                    <tr>
                        <td class="guideTbTitle">운영시간</td>
                        <td class="guideTbline">하루 24시간, 365일</td>
                    </tr>
                    <tr>
                        <td class="guideTbTitle">문의사항</td>
                        <td class="guideTbline">거창군청 도시건축과 도시개발담당</td>
                    </tr>
                </table>
            </div>
        </article>
        <article class="contentBox">
            <h3 class="contentSubTitle">자전거 이용요금</h3>
            <div class="useTableBox">
                <table>
                    <colgroup>
                        <col width = '12%'>
                        <col width = '12%'>
                        <col width = '18%'>
                        <col width = '18%'>
                        <col width = '*'>
                    </colgroup>
                    <tr>
                        <td colspan="2" class="guideTbTitle">구분</td>
                        <td  class="guideTbTitle">회원</td>
                        <td  class="guideTbTitle">비회원</td>
                        <td  class="guideTbTitle guideTbline">비고</td>                        
                    </tr>
                    <tr>
                        <td colspan="2" class="guideTbTitle">기본 사용료<br/>
                            (3시간 이내)</td>
                        <td>- 1년권 : 20,000 원<br/>
                            - 30일권 : 3,000 원</td>
                        <td>- 1일권 : 1,000 원</td>
                        <td rowspan="2" class="guideTbline">- 기본사용료의 사용시간 범위에서 반복이용은 가능하다.<br/> 
                            이 경우 별도의 사용료는 부과하지 않는다.<br/>
                            - 추가 사용료의 산정에 있어 60분 미만은 1시간으로 본다.
                        </td>
                    </tr>
                    <tr>
                        <td class="guideTbTitle">추가사용료</td>
                        <td class="guideTbTitle">3시간초과</td>
                        <td>- 시간당 500원</td>
                        <td>- 시간당 1,000 원</td>
                    </tr>
                </table>
            </div>
        </article>
        <article class="contentBox">
            <h3 class="contentSubTitle">환불안내</h3>
            <div class="useTableBox">
                <table>
                    <colgroup>
                        <col width = '10%'>
                        <col width = '10%'>
                        <col width = '10%'>
                        <col width = '29%'>
                        <col width = '29%'>
                        <col width = '10%'>
                        <tr>
                            <td colspan="3" rowspan="2" class="guideTbTitle">서비스 구분</td>
                            <td colspan="3" class="guideTbTitle guideTbline">탈퇴 요청 기한별 환불범위</td>
                        </tr>
                        <tr>
                            <td class="guideTbTitle">가입 7일 이내</td>
                            <td class="guideTbTitle">8~30일 이내</td>
                            <td class="guideTbTitle guideTbline">30일 이후</td>
                        </tr>
                        <tr>
                            <td rowspan="4" class="guideTbTitle">회원제</td>
                            <td rowspan="2" class="guideTbTitle">년회비<br/>(2만원)</td>
                            <td class="guideTbTitle">이용</td>
                            <td>월회원 가입비 및 결제수수료 공제</td>
                            <td>월회원 가입비 및 결제수수료 공제</td>
                            <td rowspan="2" class="guideTbline">환불불가</td>
                        </tr>
                        <tr>
                            <td class="guideTbTitle">비이용</td>
                            <td>결제수수료 공제</td>
                            <td>결제수수료 공제</td>
                        </tr>
                        <tr>
                            <td rowspan="2" class="guideTbTitle">월회비<br/>(3천원)</td>
                            <td class="guideTbTitle">이용</td>
                            <td>월회원 가입비 및 결제수수료 공제</td>
                            <td rowspan="2">환불불가</td>
                            <td rowspan="2" class="guideTbline">-</td>
                        </tr>
                        <tr>
                            <td class="guideTbTitle">비이용</td>
                            <td>결제수수료 공제</td>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2" class="guideTbTitle">비회원</td>
                            <td class="guideTbTitle">이용</td>
                            <td colspan="3" class="guideTbline">환불불가</td>
                        </tr>
                        <tr>
                            <td class="guideTbTitle">비이용</td>
                            <td colspan="3" class="guideTbline">결제수수료 공제(24시간 이내)</td>
                        </tr>
                    </colgroup>
                </table>
            </div>
        </article>
    </div>
</div>