@charset "UTF-8";
    /*dutyBox*/
    .dutyBox{
        width: 100%;
        border-top: 2px solid #333;
        background-color: #f3f3f3;
        box-sizing: border-box;
        padding: 15px 5px 40px;
    }
    .dytyBoxNum{
        font-weight: 500;
    }
    .dutyBox p{
        font-size: 15px;
        line-height: 22px;
        vertical-align: middle;
    }
    /**/
    .dutyBox .cycleLost{
        padding-left: 25px;
        line-height: 30px;
        background: url('../img/duty/cycleLost.png')left center no-repeat;
        background-size: contain;
        background-size: auto 22px;
        border-bottom: 1px solid #E9E9E9;
    }
    .dutyBox .cycleFix{
        padding-left: 25px;
        line-height: 30px;
        background: url('../img/duty/cycleFix.png')left center no-repeat;
        background-size: contain;
        background-size: 18px auto;
    }
    /**/
    .dutyNotice{
        font-size: 15px;
        font-weight: bold;
        padding: 10px 0 0 0 ;
    }


@media screen and (max-width: 1300px){

   

}
@media screen and (max-width: 960px){

}


@media screen and (max-width: 540px){
    



}